:root {
  --yellowLab: #f7b617;
  --yellowLab-hover: #e6a100;
  --grayLab: #2b2b2b;
}

/* REGISTER */
.reg-form {
  padding: 15%;
}

.reg-elem {
  margin-top: 2%;
}

/* LOGIN */
#login-header {
  height: 30vh;
  background-image: url('../assets/images/login-bg.jpg');
  background-position: center;
  background-size: cover;
}

.section-top-row {
  margin-top: 5%;
}

footer {
  background-color: var(--grayLab);
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a{
  color: var(--yellowLab);
}

footer a:hover {
  color: var(--yellowLab);
}

/* Overwrite styles */
.form-400 {
  max-width: 400px;
}

/* Helpers */
.bg-yellowLab {
  background-color: var(--yellowLab);
}

.overlay {
  background-color: rgba(43, 43, 43, 0.5);
  height: 100%;
  width: 100%;
}

.btn-yellowLab {
  background-color: var(--yellowLab);
  color: var(--grayLab);
}

.btn-yellowLab:hover {
  background-color: var(--yellowLab-hover);
}