<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Register</title>
</head>
<body>
  <section class="container-fluid">
    <div class="row">
      <img src="../assets/images/codebook-logo.svg" class="img-fluid reg-logo col-12 col-sm-4 offset-sm-4" alt="logo">
    </div>
    <div class="reg-form">
      <div class="input-group">
        <input type="text" class="form-control reg-elem" placeholder="Nombre">
        <input type="text" class="form-control reg-elem" placeholder="Apellido">
      </div>
      <div class="input-group">
        <input type="text" class="form-control reg-elem" placeholder="Correo electrónico">
      </div>
      <div class="input-group">
        <input type="text" class="form-control reg-elem" placeholder="Contraseña">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input reg-elem" id="exampleCheck1">
        <label class="form-check-label reg-elem" for="exampleCheck1">Estoy de acuerdo con los <a href="#">Términos y Condiciones</a></label>
      </div>
      <button type="button" class="btn btn-secondary reg-elem">Crear Cuenta</button>
  </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/register.js"></script>
</body>
</html>